/* General Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: none;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    line-height: 100%;
    font-weight: normal;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1em;
}

input, textarea, select, button{
    font: 12px Arial, Helvetica, sans-serif;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}

textarea {
    overflow: auto;
    resize: none;
}

button {
    cursor: pointer;
}

q:before, q:after {
    content: "";
}

a {
    color: #1B5219;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

a img {
    border: none;
}

.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}