<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get Things Done</title>
    <script src="../js/augular-1.5.8.js"></script>
    <style>
        ul.unstyled {
            list-style-type: none;
        }

        span.done-true {
            text-decoration: line-through;
            color: grey;
        }
    </style>
</head>
<body>

<div ng-app="myApp" ng-controller="myCtrl">
    <span>{{ remaining(); }} of {{ todoList.length }} remaining</span>
    [<a href="" ng-click="archive();">archive</a>]
    <ul class="unstyled">
        <lable>
            <li ng-repeat="todo in todoList">
                <input type="checkbox" ng-model="todo.done">
                <span class="done-{{ todo.done }}">{{ todo.text }}</span>
            </li>
        </lable>
    </ul>
    <form ng-submit="addTodo();">
        <input type="text" ng-model="todoText" size="30" placeholder="add new todo here">
        <input type="submit" class="btn-primary" value="add">
    </form>
</div>
<script>
    var app = angular.module("myApp", []);

    app.controller("myCtrl", function($scope){
        $scope.todoText = "";
        $scope.todoList = [
            // { "text": "Learn AngularJS", "done": true },
            // { "text": "Build Angular APP", "done": false}
        ];
        $scope.addTodo = function(){
            if ($scope.todoText.length > 0) {
                $scope.todoList.push({ "text": $scope.todoText, "done": false});
                $scope.todoText = "";
            }
        };
        $scope.remaining = function(){
            var count = 0;
            angular.forEach($scope.todoList, function(todo){
                count+= todo.done ? 0 : 1;

            });
            return count;
        };
        $scope.archive = function(){
            var oldList = $scope.todoList;
            $scope.todoList = [];
            angular.forEach(oldList, function(todo){
                if(!todo.done) $scope.todoList.push(todo);
            });
        };
    });
</script>
</body>
</html>